# Medical Examiner Case Archives

Cook County (Chicago) medical examiner records, taken from [here](https://datacatalog.cookcountyil.gov/Public-Safety/Medical-Examiner-Case-Archive/cjeq-bs86) after discovery via [Data is Plural](https://tinyletter.com/data-is-plural).

## Do your importing/setup

In [1]:
import pandas as pd

In [2]:
%matplotlib inline

## Read in the data, check its row count and column types

In [3]:
df = pd.read_csv('case-archive-encoded.csv', na_values=['Data missing'])

In [4]:
df.shape

(22634, 20)

In [5]:
df.dtypes

Case Number              object
Date of Incident         object
Date of Death            object
Age                     float64
Gender                    int64
Race                      int64
Latino                     bool
Manner of Death          object
Primary Cause            object
Primary Cause Line B     object
Primary Cause Line C     object
Secondary Cause          object
Gun Related              object
Opioid Related           object
Incident Address         object
Incident City            object
longitude               float64
latitude                float64
OBJECTID                  int64
location                 object
dtype: object

In [6]:
df.head()

,Case Number,Date of Incident,Date of Death,Age,Gender,Race,Latino,Manner of Death,Primary Cause,Primary Cause Line B,Primary Cause Line C,Secondary Cause,Gun Related,Opioid Related,Incident Address,Incident City,longitude,latitude,OBJECTID,location
0,ME2017-04255,09/10/2017 08:28:00 PM,09/10/2017 08:51:00 PM,51.0,1,5,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20468,NaN
1,ME2018-02149,05/05/2018 06:30:00 AM,05/05/2018 06:41:00 AM,65.0,1,5,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2110 W. 21ST PL #1,CHICAGO,-87.678845,41.853279,77827,"(41.8532787, -87.6788449)"
2,ME2018-02154,04/26/2018 08:29:00 AM,05/05/2018 04:45:00 AM,95.0,1,5,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20704 S Woodlawn Ct,FRANKFORT,NaN,NaN,77839,NaN
3,ME2018-02156,05/05/2018 12:00:00 PM,05/05/2018 12:25:00 PM,64.0,0,5,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4008 W. BERTEAU AVENUE, APT #1",CHICAGO,-87.728177,41.957468,77823,"(41.9574677, -87.7281769)"
4,ME2018-02158,05/05/2018 09:30:00 AM,05/05/2018 09:50:00 AM,61.0,1,2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3947 W. LEXINGTON STREET,CHICAGO,-87.724739,41.871451,77822,"(41.8714515, -87.7247386)"

In [7]:
df.Gender

0        1
1        1
2        1
3        0
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       0
22       1
23       0
24       1
25       1
26       1
27       1
28       1
29       1
        ..
22604    1
22605   -1
22606    0
22607    1
22608    1
22609    1
22610    1
22611    0
22612    1
22613    1
22614    0
22615    1
22616    1
22617    1
22618    1
22619    1
22620    1
22621    0
22622    0
22623    1
22624    1
22625    1
22626    0
22627    0
22628    1
22629    1
22630    1
22631    1
22632    1
22633    1
Name: Gender, Length: 22634, dtype: int64

## Cleaning up your data

First you'll want to convert the `Race` and `Gender` columns from codes into actual text to make analysis easier.

### Gender codes

* `-1` - `Data missing`
* `0` - `Female`
* `1` - `Male`
* `2` - `Unknown`

### Race codes

* `-1` - `Data missing`
* `0` - `American Indian`
* `1` - `Asian`
* `2` - `Black`
* `3` - `Other`
* `4` - `Unknown`
* `5` - `White`

In [8]:
df['Gender_num']=df['Gender'].replace({-1: 'Data missing',
           0: 'Female',
           1: 'Male',
           2: 'Unknown'
           })

In [9]:
df['Race_num']=df['Race'].replace({
    -1: 'Data missing',
    0: 'American Indian',
    1: 'Asian',
    2: 'Black',
    3: 'Other',
    4: 'Unknown',
    5: 'White'
})

In [10]:
df['Race_num'].value_counts()

White              12490
Black               9366
Asian                342
Other                269
Data missing         124
Unknown               28
American Indian       15
Name: Race_num, dtype: int64

## What percent of the dataset is men, and what percent is women?

It should display as **Male** and **Female**, not as numbers.

In [11]:
df['Gender_num'].value_counts()

Male            16158
Female           6363
Data missing      101
Unknown            12
Name: Gender_num, dtype: int64

In [12]:
df['Gender_num'].describe()

# I guess that was unecessary

count     22634
unique        4
top        Male
freq      16158
Name: Gender_num, dtype: object

In [13]:
df['Gender_num'].value_counts(normalize=True)

Male            0.713882
Female          0.281126
Data missing    0.004462
Unknown         0.000530
Name: Gender_num, dtype: float64

## Getting rid of "Data missing"

`Unknown` means that officially the gender or race is unknown, while `Data missing` means the record is incomplete. That means "Data missing" should have been `NaN`!

Go back to your `read_csv` many cells before and make it so that "Data missing" is automatically set as `NaN`.

- *Tip: Do not use `.replace` for this one!*
- *Tip: Look at the options for `read_csv`, there's something that lets you specify missing values*
- *Tip: It isn't `"Data missing"` - think about how you already replaced*
- *Tip: Be sure you're using an array when you tell it what the 'missing' options are*

### After you've done this, re-run all of the the previous cells and confirm that `"Data missing"` does not exist any more

In [14]:
df = pd.read_csv('case-archive-encoded.csv', na_values=['Data missing'])

## What is the most common race in the dataset? We want percentages.

We'll come back to this later, I'm just having you check the column for now.

In [15]:
# here it doesn't let me do stuff with 'Gender_num', although a few lines up I could.

## Do a `.value_counts()` on the `Opioid Related` column

In [16]:
df['Opioid Related'].value_counts()

True    3378
Name: Opioid Related, dtype: int64

## That's weird. Did everyone die from opioids? Try again, but including missing data.

In [17]:
df['Opioid Related'].value_counts(dropna=False)

NaN     19256
True     3378
Name: Opioid Related, dtype: int64

## Cleaning up True/False columns

For some reason in this dataset, the True/False columns are either `True` or `NaN`. `NaN` causes a lot of problems, I'd rather have it be false.

You can use [`fillna`](http://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.fillna.html) to fill in empty data - it's like `.replace` but for `NaN`.

### Replace all `NaN` values with `False` for the "Gun Related" and "Opioid Related" columns.

In [18]:
df['Gun Related'] = df['Gun Related'].fillna('False')

In [19]:
df['Opioid Related'] = df['Opioid Related'].fillna('False')

### Do another value counts on Opioid Related to make sure it has both True and False values

In [20]:
df['Opioid Related'].value_counts()

False    19256
True      3378
Name: Opioid Related, dtype: int64

In [21]:
#just checking the other too

df['Gun Related'].value_counts()

False    19615
True      3019
Name: Gun Related, dtype: int64

# Back to analysis!

## What's the average age people were when they died?

In [22]:
df.Age.mean()

51.279928793947484

## Let's look at how the oldest people died

We're just going to browse. Read through how the **oldest 30 people died.**

In [23]:
df.sort_values(by='Age', ascending=False).head(30)

,Case Number,Date of Incident,Date of Death,Age,Gender,Race,Latino,Manner of Death,Primary Cause,Primary Cause Line B,Primary Cause Line C,Secondary Cause,Gun Related,Opioid Related,Incident Address,Incident City,longitude,latitude,OBJECTID,location
21142,ME2018-00494,01/11/2018 12:00:00 PM,01/24/2018 03:48:00 PM,106.0,0,5,False,ACCIDENT,COMPLICATIONS OF A FALL,NaN,NaN,NaN,False,False,627 ORIOLE DR SYMPHONY NURSING HOME,STREAMWOOD,-88.166639,42.014994,61564,"(42.0149937, -88.1666392)"
17602,ME2017-02853,06/19/2017 08:15:00 PM,06/20/2017 10:08:00 PM,106.0,0,5,False,NaN,ACUTE MYOCARDIAL INFARCTION,NaN,NaN,"FRACTURE OF FEMUR DUE TO FALL, HYPERTENSIVE AN...",False,False,8021 W 151st St,ORLAND PARK,-87.815531,41.615936,59223,"(41.6159359, -87.8155315)"
12106,ME2016-03535,07/20/2016 06:30:00 PM,07/20/2016 06:58:00 PM,105.0,0,5,False,NATURAL,ORGANIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,126 DIVERSEY,NORTHLAKE,-87.908596,41.929038,57807,"(41.9290381, -87.9085962)"
4942,ME2015-01809,04/26/2015 03:30:00 PM,05/03/2015 03:06:00 PM,103.0,0,5,False,ACCIDENT,COMPLICATIONS OF FALL,NaN,NaN,NaN,False,False,7 WILLOW COURT,COUNTRYSIDE,-87.860635,41.783044,56056,"(41.7830443, -87.8606347)"
9376,ME2016-00729,02/10/2016 11:53:00 PM,02/11/2016 12:25:00 AM,103.0,0,5,False,NATURAL,ARTERIOSCLEROTIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,1933 Arklow Street,SCHAUMBURG,-88.127944,42.025985,61674,"(42.0259851, -88.1279436)"
8653,ME2015-05648,12/28/2015 09:30:00 PM,12/28/2015 09:59:00 PM,103.0,0,2,False,NATURAL,HYPERTENSIVE ARTERIOSCLEROTIC CARDIOVASCULAR D...,NaN,NaN,NaN,False,False,"4206 W. POTOMAC, 1ST FLOOR",CHICAGO,-87.731690,41.904602,68911,"(41.904602, -87.7316903)"
14697,ME2016-06170,12/23/2016 10:30:00 PM,12/24/2016 02:00:00 AM,101.0,0,2,False,ACCIDENT,INHALATION OF PRODUCTS OF COMBUSTION,NaN,NaN,NaN,False,False,2000 S. 9TH,MAYWOOD,-87.843632,41.867806,62018,"(41.8678057, -87.8436321)"
11558,ME2016-02979,06/12/2016 08:30:00 AM,06/17/2016 07:50:00 AM,101.0,0,5,False,ACCIDENT,COMPLICATIONS OF LEFT FEMORAL NECK FRACTURE,NaN,NaN,"DEMENTIA, HYPERTENSION, ANEMIA",False,False,1270 FRANCISCAN DRIVE - MOTHER TERESA NH,LEMONT,-87.972860,41.679977,63499,"(41.6799768, -87.9728597)"
9904,ME2016-01281,03/13/2016 04:30:00 PM,03/13/2016 04:57:00 PM,101.0,1,5,False,NATURAL,ORGANIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,"3409 SOUTH ASHLAND, 1ST FLOOR REAR APT.",CHICAGO,-87.665314,41.831971,65188,"(41.831971, -87.6653139)"
13498,ME2016-04942,10/14/2016 04:00:00 PM,10/14/2016 04:21:00 PM,101.0,0,5,False,NATURAL,ORGANIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,"2626 NORTH LAKEVIEW, UNIT 3008",CHICAGO,-87.639827,41.930351,67009,"(41.9303508, -87.6398266)"
5621,ME2015-02517,06/17/2015 10:30:00 AM,06/17/2015 10:50:00 AM,101.0,0,5,False,NATURAL,HYPERTENSIVE AND ARTERIOSCLEROTIC CARDIOVASCUL...,NaN,NaN,NaN,False,False,420 N. WOLF RD. #229,NORTHLAKE,-87.905080,41.915730,58002,"(41.9157304, -87.9050796)"
8656,ME2015-05651,12/30/2015 04:30:00 PM,12/30/2015 04:50:00 PM,101.0,1,5,False,NATURAL,ORGANIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,"733 W. 19TH STREET, GROUND APT",CHICAGO,-87.646042,41.856563,67437,"(41.8565629, -87.646042)"
8780,ME2016-00111,12/28/2015 11:11:00 PM,01/03/2016 11:40:00 AM,100.0,0,5,False,ACCIDENT,COMPLICATIONS OF FRACTURE OF FEMUR,NaN,NaN,HYPERTENSIVE CARDIOVASCULAR DISEASE,False,False,5333 N SHERIDAN RD #23J,CHICAGO,-87.654376,41.979434,74168,"(41.9794337, -87.6543755)"
5817,ME2015-02723,06/29/2015 11:00:00 AM,06/29/2015 11:46:00 AM,100.0,1,5,False,NATURAL,ASCVD,NaN,NaN,NaN,False,False,1316 CONCORD LN,SCHAUMBURG,-88.112903,42.012324,62245,"(42.0123239, -88.1129032)"
4239,ME2015-01074,03/12/2015 10:00:00 AM,03/12/2015 04:30:00 PM,100.0,0,5,False,ACCIDENT,FRACTURE OF HIP,NaN,NaN,"HYPERTENSIVE CARDIOVASCULAR DISEASE, CHRONIC R...",False,False,640 BERGANDY COURT,ELK GROVE VILLAGE,NaN,NaN,60570,NaN
7898,ME2015-04864,10/15/2015 07:41:00 PM,11/10/2015 10:30:00 PM,100.0,0,5,False,ACCIDENT,COMPLICATIONS OF RIGHT HIP FRACTURE,NaN,NaN,"ATRIAL FIBRILLATION, DEMENTIA",False,False,336 S Windsor,ARLINGTON HEIGHTS,-87.964208,42.077622,60002,"(42.0776216, -87.9642079)"
14044,ME2016-05503,11/16/2016 09:55:00 AM,11/16/2016 10:00:00 AM,100.0,1,2,False,NATURAL,ORGANIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,4900 W. POTOMAC 1ST FLR.,CHICAGO,-87.748635,41.904362,76597,"(41.904362, -87.7486353)"
13696,ME2016-05143,09/30/2016 12:00:00 PM,10/28/2016 04:08:00 AM,100.0,0,2,False,ACCIDENT,COMPLICATIONS OF BILATERAL FEMUR FRACTURES,NaN,NaN,HYPERTENSIVE CARDIOVASCULAR DISEASE,False,False,Citadel NH 3701 W 183rd,HAZEL CREST,-87.706555,41.556419,63741,"(41.5564191, -87.7065553)"
798,ME2018-01708,04/08/2018 03:03:00 PM,04/08/2018 03:12:00 PM,100.0,0,5,False,NATURAL,ORGANIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,4035 North Leclaire,CHICAGO,-87.754434,41.954423,73911,"(41.9544229, -87.7544336)"
10335,ME2016-01724,04/08/2016 06:00:00 AM,04/08/2016 06:47:00 AM,100.0,1,5,False,NATURAL,ARTERIOSCLEROTIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,2705 NORTH MOBILE,CHICAGO,-87.782931,41.929431,73899,"(41.9294315, -87.7829312)"
3985,ME2015-00812,02/19/2015 12:00:00 PM,02/25/2015 06:44:00 AM,100.0,0,5,False,ACCIDENT,HYPERTENSIVE AND ARTERIOSCLEROTIC CARDIOVASCUL...,NaN,NaN,"FRACTURE OF RIGTH TIBIA, ALZHEIMER'S DISEASE,...",False,False,"Lexington Hospice, 815 E Irving Park Rd",STREAMWOOD,NaN,NaN,61176,NaN
9859,ME2016-01233,02/28/2016 10:25:00 AM,03/10/2016 03:20:00 AM,100.0,0,1,False,ACCIDENT,SUBDURAL HEMORRHAGE,NaN,NaN,"ATRIAL FIBRILLATION, HYPERTENSIVE AND ATHEROSC...",False,False,1045 SOUTH GROVE AVENUE,OAK PARK,-87.795475,41.868916,63202,"(41.8689159, -87.7954748)"
17789,ME2017-03051,07/02/2017 03:45:00 PM,07/02/2017 05:40:00 PM,100.0,0,5,False,ACCIDENT,ASPHYXIA,NaN,NaN,ORGANIC CARDIOVASCULAR DISEASE,False,False,"6840 N. SACRAMENTO AVENUE, ROOM# 414B",CHICAGO,NaN,NaN,75141,NaN
4015,ME2015-00842,02/16/2015 08:34:00 PM,02/26/2015 06:45:00 PM,100.0,0,5,False,ACCIDENT,COMPLICATIONS FOLLOWING LEFT HIP FRACTURE,NaN,NaN,HYPERTENSIVE AND ARTERIOSCLEROTIC CARDIOVASCUL...,False,False,800 West Central Road,ARLINGTON HEIGHTS,-87.992553,42.068009,60130,"(42.0680087, -87.9925527)"
17142,ME2017-02376,05/24/2017 04:30:00 PM,05/24/2017 05:47:00 PM,100.0,0,5,False,NATURAL,ORGANIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,WEST 36TH ST AND HERMITAGE AVE,CHICAGO,-87.669137,41.828642,64638,"(41.8286417, -87.6691374)"
2610,ME2014-01556,11/19/2014 10:41:00 AM,11/20/2014 08:35:00 PM,100.0,0,5,False,ACCIDENT,COMPLICATIONS OF RIGHT FEMORAL NECK FRACTURE,NaN,NaN,HYPERTENSIVE AND ATHEROSCLEROTIC CARDIOVASCULA...,False,False,6631 N. Milwaukee,NILES,-87.791694,42.002101,77212,"(42.0021012, -87.7916938)"
5951,ME2015-02861,07/07/2015 12:15:00 PM,07/07/2015 12:36:00 PM,99.0,1,2,False,NATURAL,ARTERIOSCLEROTIC CARDIOVASCULAR DISEASE,NaN,NaN,NaN,False,False,8915 SOUTH LAFLIN APT 404,CHICAGO,-87.660445,41.731752,64790,"(41.7317523, -87.6604447)"
2672,ME2014-01620,11/01/2014 04:26:00 AM,11/24/2014 05:09:00 PM,99.0,0,5,False,ACCIDENT,COMPLICATIONS OF A FALL,NaN,NaN,HYPERTENSIVE AND ATHEROSCLEROTIC CARDIOVASCULA...,False,False,2160 South 1st Avenue,MAYWOOD,-87.834769,41.861100,62445,"(41.8610998, -87.8347694)"
916,ME2015-01570,04/17/2015 08:00:00 AM,04/17/2015 08:38:00 AM,99.0,0,5,False,ACCIDENT,CERVICAL INJURIES,NaN,NaN,HYPERTENSIVE-ARTERIOSCLEROTIC CARDIOVASCULAR D...,False,False,CLARE OAKS ASSISTED LIVING,BARTLETT,NaN,NaN,60976,NaN
8670,ME2016-05013,10/18/2016 11:30:00 AM,10/19/2016 08:37:00 AM,99.0,0,2,False,NATURAL,INTRAPARENCHYMAL HEMORRHAGE OF THE PONS,NaN,NaN,NaN,False,False,14255 S CICERO RM 434,CRESTWOOD,-87.737508,41.633365,60491,"(41.6333655, -87.7375081)"

## Seems like a lot of problems with fractures

### What's the median age of someone dying from a cause that involves a fracture?

Are fractures especially dangerous for the elderly?

- *Tip: Filter for a cause that involves a fracture, then take the median age*
- *Tip: If you get a "cannot index NA values" error, the problem is it's trying to search `NaN` values and doesn't know what to do with them. You need to tell pandas to count `NaN` as false by setting another option - it isn't `NaN=False`, but it's close!*

In [24]:
df[df['Primary Cause'].str.contains("FRACTURE", na=False)].Age.median()

86.0

### To get a "compared to what?", what's the median age of _anyone_ dying an accidental death?

In [25]:
df[df['Manner of Death'].str.contains('ACCIDENT', na=False)].Age.median()

51.0

### What's the median age of each manner of death?

It looks like different kinds of death might happen to different ages of people. Let's investigate that further.

In [26]:
df['Manner of Death'].value_counts(normalize=True)

NATURAL         0.412380
ACCIDENT        0.341131
HOMICIDE        0.126979
SUICIDE         0.076527
UNDETERMINED    0.022453
PENDING         0.020530
Name: Manner of Death, dtype: float64

### Who is the oldest homicide victim?

It looks like homicide is for young people, so maybe we'll find an interesting outlier?

In [27]:
df[df['Manner of Death'].str.contains('HOMICIDE', na=False)].Age.max()

# I think there should be an easier way to do that, with sort by, but I couldn't.

98.0

## Investigating toxicity-related homicides

She was old, and was purposefully overdosed on morphine and hydrocodone. Might have been euthenasia? Let's find similar cases.

### Find every homicide where the primary cause of death is some sort of toxicity

Toxicity can just overdose. You should have **ten rows**.

- *Tip: If you're doing this as one statement, make sure you use your parentheses correctly. If you leave them out, you'll have zero rows*
- *Tip: You could make a homicides-only dataframe if you wanted to*

### Okay, nope, we were wrong.

Those were almost **all from fires**. Apparently homicide is not the best place to go looking for toxicity. What's the most popular manner of death for primary causes involving toxicity?

- *Tip: Remember that `['colname']` is the same as `.colname`. You can't do `.col with spaces` so you'll need to do `['col with spaces']` a lot in this dataset
- *Tip: Or I guess if you really wanted to, you could rename your columns to have spaces in them (IF YOU DO THIS DON'T DO IT IN EXCEL BECAUSE IT WILL PROBABLY BREAK YOUR CSV.)*

### Okay, toxicity deaths (overdoses) are mostly accidents. Let's look at the first 30 accidental deaths involving toxicity.

- *Tip: Remember your parentheses!*

## Wow, that's a lot of drug overdoses. What's more popular for overdosing: heroin, fentanyl, cocaine, or ethanol?

You can count something like "COMBINED ETHANOL, NORDIAZEPAM, AND FENTANYL TOXICITY" under both ethanol and fentanyl.

- *Tip: Search for them individually*

# Cleaning up Primary Cause

Let's stop investigating for a second and maybe clean up this "Primary Cause" column.

## What are the most common Primary Cause of death? Include `NaN` values

- *Tip: There is an option that keeps `NaN` values when counting things in a column.*

In [171]:
df['Primary Cause'].describe()

count                              22510
unique                              3993
top       ORGANIC CARDIOVASCULAR DISEASE
freq                                1983
Name: Primary Cause, dtype: object

## That was horrible looking. I don't want to read through that - how many `NaN` causes of death are there?

- *Tip: You can use `isnull()` to see if it's missing data, but how do you count the results?*

## Remove all rows where the primary cause of death has not been filled out.

- *Tip: confirm that you have 22510 rows when you're done*

# Cardiovascular disease

Cardiovascular disease (heart disease) is the number one or number two killer in America.

### Filter for only rows where cardiovascular disease was a primary cause

- *Tip: I hope you know how to deal with the `NaN` error message by now!*

### What are the different types?

### Replace all of those with a nice simple 'CARDIOVASCULAR DISEASE'

- *Tip: you can use `.replace` or `.str.replace`, but they each involve different things! I suggest `.replace`, it looks a little cleaner in this situation*
- *Tip: for `.replace`, you need to give it more options than usual*
- *Tip: for `.str.replace`, it won't automatically save back into the column, you need to do that yourself*

### Check the top 5 primary causes. Cardiovascular disease should be first with about 28.4%

We could also clean up gunshots, but... let's just move on.

# The Opioid Epidemic

America has a [big problem with fentanyl](https://www.theatlantic.com/health/archive/2018/05/americas-opioid-crisis-is-now-a-fentanyl-crisis/559445/) and other opioids.

## Find all of the rows where fentanyl was part of the primary cause of death

We don't need `na=False` any more because we *dropped the rows without primary causes*.

## Fentanyl and race

In the late 80's and 90's, the [crack cocaine epidemic](https://en.wikipedia.org/wiki/Crack_epidemic) swept through inner cities in the US. It was treated primarily as a crime problem, while many people say fentanyl and heroin overdoses are being treated as a medical problem due to the racial differences - the crack epidemic mainly affected Black communities, while fentanyl seems to be a problem for everyone.

### How does the racial breakdown of fentanyl deaths compare to the racial breakdown of other causes of death? How about compared to causes of accidental death?

### Now compare it to homicides

### Now compare it to suicide

## These differences seems kind of crazy

Let's look at all of these at once: I want a breakdown of the most common manners of death for **men**, based on race.

Percentages, please, not raw numbers.

You can look at women, too, although I think the numbers are more surprising for men.

## Back to drugs: what is the most popular opioid-related primary cause of death that does NOT involve fentanyl?

- *Tip: Pay attention to your column names! There's one that might tell you if something is opioid-related...*
- *Tip: Usually you can use `not` or `!` to means "not", but for pandas and `.isin` or `.str.contains` you need to use `~`*
- *Tip: For "and" in pandas you'll need to use `&`, and make sure all of your clauses have parens around them, e.g. `df[(df.col1 = 'A') & (df.col2 = 'B')]`.*

# How do heroin and fentanyl deaths compare?

## Count the number of deaths involving heroin, the number of deaths involving fentanyl, and the number of deaths involving both.

- *Tip: This will take 3 different statements*
- *Tip: You should get `813` that include both*

## That's weird.

I heard fentanyl really surpassed heroin in the past few years. Let's see how this 

### Pull the year out and store it in a new column called `year`

If you run `df['Date of Incident'].str.extract("(\d\d\d\d)", expand=False)`, it will pull out the year of each incident. **Store this in a new column called `year`.**

(It's regular expression stuff. `\d\d\d\d` means "four numbers in a row", and `()` + `.str.extract` means "pull it out".)

### What is the datatype of the new `year` column?

## Convert this new column to an integer and save it back on top of itself

- *Tip: This uses is your friend `.astype`*
- *Tip: Make sure to save it back on top of itself!*

## Confirm the column is a number

## Plot the number of opioid deaths by year

If you'd like to make it look nicer, do some sorting and get rid of 2018.

- *Tip: Think of it in a few steps. First, filter for opioid deaths. Then get the number of deaths for each year. Then plot it.*
- *Tip: What's up with 2018? Why's it look so weird? Can you get rid of it? Remember to use lots of parens!*
- *Tip: Make sure the earliest year is on the left. You might need to sort by something other than values.*

## Plot the number of fentanyl deaths by year, and the number of heroin deaths by year

- *Tip: You'll want to look up how to use `ylim` - it will let you set each graphic to use the same scale. This should be separate graphics.*
- *Tip: Pay attention to the numbers on your axes. `sort_index()` will be your friend.*
- *Tip: You should probably get rid of 2018*

## How does this compare to gun deaths?

## But hey: numbers can lie pretty easily!

The numbers are just so low in 2014 and much higher in 2017. What's going on there?

Well, maybe **there just isn't as much data from the earlier years**. Plot how many entries there are for each year.

And we don't know the best way to fix that up yet, so instead I'm going to give you a present.

# Is the true lesson here, don't move to Cook County, Illinois?

Cook County is basically Chicago. It's probably just certain areas that are trouble, right? Let's investigate that without even having a clue how mapping works.

## Fun bonus: Making cheating maps

### Make a new dataframe of every death in the actual city of Chicago

### Confirm this new dataframe has 13,627 rows

### Use lat and long in the worst way possible to make a map

Use `longitude` and `latitude` and `plot` to make a rough map of the city. Chicago [looks like this](https://en.wikipedia.org/wiki/File:DuPage_County_Illinois_Incorporated_and_Unincorporated_areas_Chicago_Highlighted.svg)

- *Tip: Use the `latitude` and `longitude` columns*
- *Tip: You don't want a line graph, of course. Or a bar. What kind is the kind with dots on it?*
- *Tip: Use something like like `figsize=(10,5)` to specify the height and width of the map (but, you know, with better numbers that make it look like chicago)*

## Now let's find out where to live

Make a map of every non-homicide death in Chicago, then plot the homicides on top of it.

Use the `ax=df.plot` trick from the beer cans assignment to plot all of the rows representing homicides vs non-homicides. You can use `color='red'` to make one of them red, and `alpha=0.05` to make each mark very transparent to allow them to layer on top of each other.

## Never tell anyone I let you do that.

But you want to see something actually completely legitimately insane?

**Chicago is one of the most segregated cities in America.** If you'd like to see this for yourself, make a map of `Race`. Plot black vs white in a way similar to what we did above.

Yup.